body{
    background-color: lightblue;
}
div {
	display: flex;
    flex-direction: column;
    align-items: center;
}
      
input {
    margin-top: 10px;
}
      
textarea {
    margin-top: 15px;
    width: 70%;
}



#display{
    background-color: burlywood;
}

.my{
    color:red;
}

.my:hover {
    color: white;
    background-color: #2cb673;
    cursor: pointer;
    
}
